body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border-color: #9c6644;
  border-style: dotted none none none;
  width: 15%;
  border-width: thick;
  margin-top: 100px;
  margin-bottom: 100px;
}

p {
  font-size: 1.3rem;
}

.TopPage {
  background-color: #ecc8af;
}

.last {
  background-color: #6a423d;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 300%;

}

h2 {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 2rem;
  margin-bottom: 45px;
}

.TopContainer {
  margin-top: 100px;
}

.Top-cloud {
  height: 70px;
  position: relative;
  top: 70px;
  left: 227px;
}

.Bottom-cloud {
  position: absolute;
  height: 70px;
  left: 400px;
}

.mountainimg {
  margin-top: 95px;
}

.profileimg {
  border-radius: 100%;
  height: 300px;
  margin-top: 100px;
}

.webgif {
  height: 250px;
  float: left;
  margin-right: 30px;
}

.videdgif {
  height: 250px;
  float: right;
  margin-left: 30px;
}

.skill-row1 {
  width: 55%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.skill-row2 {
  width: 55%;
  margin: 300px auto 150px auto;
  text-align: left;
}

.contact-me {
   margin-bottom: 100px;
}

.bottom-container {
  padding-top: 50px;
}

.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  background: #cb997e;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #ddbea9;
  text-decoration: none;
}
.footer-link{
  color: #ffffff;
  padding: 10px;
}
.copyright{
  color: #ffffff;
  font-size: 80%;
}
.bottomhr{
   margin-top: 0;
}
